<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="kubernetes-cli" />
  <package id="minikube" />
  <package id="kubernetes-helm" />
  <package id="7zip" />
  <package id="docker-for-windows" />
  <package id="docker" />
  <package id="git" />
  <package id="vscode" />
  <package id="python" />
</packages>
